---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import LogoAtaway from "@/assets/images/ataway_logo.jpeg";
import LogoCoder from "@/assets/images/coderhouse_logo.jpeg";
import Image1 from "@/assets/images/about-img1.jpg";
import Image2 from "@/assets/images/about-img2.jpg";
import Image3 from "@/assets/images/about-img3.jpg";
import Contact from "@/components/Contact";

const meta = {
	title: "Sobre mi",
	description: "Conoceme un poco más",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6 text-base">
		<div class="flex justify-center">
			<div class="relative h-80 w-80 md:h-96 md:w-96 lg:h-96 lg:w-96 xl:h-96 xl:w-96">
				<Image
					src={Image2}
					alt="image2"
					class="absolute h-full w-full rotate-6 scale-x-75 scale-y-75 transform rounded-lg object-cover"
				/>
				<Image
					src={Image3}
					alt="image4"
					class="absolute -mx-0 h-full w-full -translate-x-5 -rotate-3 scale-x-75 scale-y-75 transform rounded-lg object-cover md:-mx-60"
				/>
				<Image
					src={Image1}
					alt="image1"
					class="absolute mx-0 h-full w-full rotate-6 scale-x-75 scale-y-75 transform rounded-lg object-cover md:mx-60"
				/>
			</div>
		</div>

		<div class="flex flex-col sm:flex-row">
			<div class="w-full sm:w-1/4">
				<p class="text-lg font-bold">Sobre mi</p>
			</div>
			<div class="w-full sm:w-3/4">
				<p class="mb-4 text-sm md:text-base">Hello World, Soy Juan Narváez</p>
				<p class="mb-4 text-sm md:text-base">
					Apasionado del desarrollo web, encuentro en cada línea de código una expresión artística.
				</p>
				<p class="mb-4 text-sm md:text-base">
					Cuando no estoy trabajando, es probable que me encuentre en el gimnasio, jugando un
					partido de fútbol o disfrutando de un momento en una cafetería.
				</p>
			</div>
		</div>
		<div class="flex flex-col sm:flex-row">
			<div class="w-full sm:w-1/4">
				<p class="text-lg font-bold">Experiencia</p>
			</div>
			<div class="w-full sm:w-3/4">
				<p class="mb-4 text-sm md:text-base">+1 años de experiencia en desarrollo profesional</p>
				<p class="mb-4 text-sm md:text-base">
					Mi trayectoria comenzó al compartir mi pasión por la programación, guiando a otros en sus
					primeros pasos en el mundo del código, una experiencia que siempre apreciaré.
				</p>
				<p class="mb-8 text-sm md:text-base">
					Hoy en día, me desempeño como analista programador en Ataway, una consultora global que me
					ha brindado una plataforma emocionante para desarrollar y aplicar mis habilidades
					técnicas.
				</p>
				<div>
					<div class="mb-8 flex items-center gap-4">
						<Image
							src={LogoAtaway}
							alt="Ataway"
							width={48}
							height={48}
							class="rounded-full bg-neutral-50"
						/>
						<div class="flex flex-grow flex-col md:flex-row">
							<div class="flex flex-col gap-px">
								<p class="">Analista Programador</p>
								<a
									class="cactus-link mr-auto inline-block text-sm md:text-base"
									href="https://www.ataway.com/es-ar/"
									target="_blank"
								>
									Ataway
								</a>
							</div>
							<p class="mb-0 text-sm md:mb-6 md:ml-auto md:text-base">2022 - Presente</p>
						</div>
					</div>
					<div class="flex items-center gap-4">
						<Image
							src={LogoCoder}
							alt="Coder House"
							width={48}
							height={48}
							class="rounded-full bg-neutral-50"
						/>
						<div class="flex flex-grow flex-col md:flex-row">
							<div class="flex flex-col gap-px">
								<p class="">Tutor de programación</p>
								<a
									class="cactus-link mr-auto inline-block text-sm md:text-base"
									href="https://www.coderhouse.com/"
									target="_blank"
								>
									Coder House
								</a>
							</div>
							<p class="mb-0 text-sm md:mb-6 md:ml-auto md:text-base">2021 - Presente</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col sm:flex-row">
			<div class="w-full sm:w-1/4">
				<p class="text-lg font-bold">Contactame</p>
			</div>
			<div class="w-full sm:w-3/4">
				<Contact />
			</div>
		</div>
	</div>
</PageLayout>
