---
import { Image } from "astro:assets";
const { title, subtitle, time, image, link } = Astro.props;
---

<div class="relative flex border-l border-gray-400 dark:border-gray-800">
	<div
		class="absolute -left-1.5 mt-3 h-3 w-3 rounded-full border border-white bg-gray-400 dark:border-gray-600 dark:bg-gray-600"
	>
	</div>
	<div class="bd-grid px-4 pb-4">
		<div class="flex items-start gap-5">
			<Image
				src={image}
				alt={title}
				width={44}
				height={44}
				class="bg-neutral-5 hidden rounded-full md:block"
			/>
			<div class="flex flex-col">
				<a
					class="cactus-link title mr-auto inline-block text-base md:text-xl"
					href={link}
					target="_blank">{title}</a
				>
				<span class="font-regular text-sm md:text-lg">{subtitle}</span>
				<time class="font-regular text-sm md:text-lg" datetime="">{time}</time>
				<p class="my-2 text-xs font-medium md:text-base">
					<slot />
				</p>
			</div>
		</div>
	</div>
</div>
